.App {
  text-align: left;
}

header {
  border-bottom: 1px solid #000;
}

.App-header h1 {
  padding-left: 20px;
  text-transform: uppercase;
}

p {
  font-size: 18px
}

h2 {
  font-size: 38px;
}

h3 {
  margin-top: 0;
}

h1, h3 {
  font-size: 30px;
}

h1, h2, h3 {
  font-weight: normal;
}

main {
  padding: 10px 20px;
}

.quote {
  display: flex;
  flex-wrap: wrap;
}

.box.details {
  border: none;
  margin-right: 54px !important;
  padding: 0;
}

.box.price {
  align-items: center;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.box.price p {
  max-width: 400px;
}

.heading2 {
  width: 100%;
}

.currency {
  font-size: 62px;
}

.extras {
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: 1px solid #000;
  margin-bottom: 10px;
  min-height: 200px;
  padding: 20px;
  position: relative;
  width: 100%;

  @media screen and (min-width: 1200px) {
    width: 45%;
  }
}

.box:nth-child(odd) {
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.box-price {
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 32px;
}

.per-date {
  font-size: 28px;
  margin: 5px;
}

button {
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
}

.quote-button {
  min-width: 400px;
}

.extras-button {
  bottom: 20px;
  position: absolute;
  right: 20px;
}

.add {
  background-color: lightgreen;
}

.remove {
  background-color: indianred;
  color: white;
}
